<h1>Shopping Cart</h1>
<h3>You have {{ items.length }} in your shopping cart.</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td> <img [src]="item.product.imageUrl" class="product-img"></td>
      <td> {{ item.product.title }}</td>
      <td>
        <cart-item-actions 
          [quantity]="item.quantity" 
          [product]="item.product">
        </cart-item-actions>
      </td>
      <td> {{ item.product.price * item.quantity | currency:'USD':'symbol' }} </td>
    </tr>
    <tr>
      <td colspan="3" class="text-right"><strong>Total</strong></td>
      <td>
        {{ total | currency:'USD':'symbol' }}
      </td>
    </tr>
  </tbody>
</table>

<button 
  (click)="clearShoppingCart()"
  type="button" 
  class="btn btn-danger">Clear Shopping Cart</button>