<p>
    <button class="btn btn-primary" routerLink='/admin/products/create'>Create Product</button>
</p>

<p>
    <input 
        #query
        (keyup)="filter(query.value)"
        type="text" 
        placeholder="Search..."
        class="form-control"
        />
</p>

<data-table id="products-grid"
    headerTitle="Products"
    [items]="productList"
    [itemCount]="itemCount"

    (reload)="reloadItems($event)">
    <data-table-column
        [property]="'title'"
        [header]="'Title'"
        [sortable]="true"
        [resizable]="true">
    </data-table-column>
    <data-table-column
        [property]="'price'"
        [header]="'Price'"
        [sortable]="true"
        [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            <span>{{item.price | currency:'USD':'symbol' }}</span>
        </ng-template>
    </data-table-column>
    <data-table-column>
        <ng-template #dataTableCell let-item="item">
            <span><a [routerLink]="['/admin/products/', item.id]">Edit</a></span>
        </ng-template>
    </data-table-column>
</data-table>