<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a *ngFor="let cate of categories" 
        (click)="filter(cate.id)"
        [routerLink]="['/products']"
        [queryParams]="{category: cate.id}"
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        {{ cate.name }}
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let product of productList">
         <div class="col-4">
            <product-card 
            [product]="product"
            [showActions]="true">
          </product-card>
         </div>
      </ng-container>
    </div>
  </div>
</div>