<div class="row">
  <div class="col-3">
    <div class="list-group sticky-top">
      <a *ngFor="let cate of categories" 
        [routerLink]="['/products']"
        [queryParams]="{category: cate.id}"
        routerLinkActive="active"
        [class.active]="cate.id === 'all' && !selectedCategory"
        class="list-group-item list-group-item-action">
        {{ cate.name }}
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <ng-container *ngFor="let product of productList">
         <div class="col-6">
            <product-card 
            [cart]="cart"
            [product]="product"
            [showActions]="true">
          </product-card>
         </div>
      </ng-container>
    </div>
  </div>
</div>